include setup.py
include README.md
include LICENSE.txt
include test_all.py
include test_performance.py
include lib/recordclass/__init__.py
include lib/recordclass/about.py
include lib/recordclass/recordclass.py
include lib/recordclass/dataclass.py
include lib/recordclass/dictclass.py
include lib/recordclass/arrayclass.py
include lib/recordclass/datatype.py
include lib/recordclass/utils.py
include lib/recordclass/adapter.py
include lib/recordclass/_dataobject.c
include lib/recordclass/_dataobject.h
include lib/recordclass/_litelist.h
include lib/recordclass/_litelist.c
include lib/recordclass/_linkedlist.h
include lib/recordclass/_linkedlist.c
include lib/recordclass/_litetuple.c
include lib/recordclass/tools/*.py
include lib/recordclass/typing/*.py
include lib/recordclass/test/*.py
include lib/recordclass/test/typing/*.py
include lib/recordclass/test/match/*.py
include lib/recordclass/tools/*.py
exclude lib/recordclass/.*

